<div class="title2">Cancel this appointment?</div>
<div class="fieldContainer cancelReason">
  <div
    class="partial dropdown"
    data-theme="closed"
    data-size="medium"
    data-header="header"
    data-label="Reason for canceling"
    data-prompt="Select a reason"
    data-options="The member canceled.,There is a conflict at this time.,This appointment is being moved.,This appointment is no longer necessary.,We were unaware of this appointment.,Something else came up.,Other"
    data-keys="member,conflict,moving,unnecessary,unaware,somethingelse,other"
  ></div>
</div>

<div class="appointment-summary"></div>

<div class="full-width-cta-wrap">
  <div class="full-width-modal-cta go-back">
    <div
      class="partial button"
      data-theme="secondary"
      data-size="medium"
      data-text="Go back"
    ></div>
  </div>
  <div class="full-width-modal-cta cancel-appt">
    <div
      class="partial button"
      data-theme="destructive"
      data-size="medium"
      data-state="disabled"
      data-text="Cancel appointment"
    ></div>
  </div>
</div>
