<div class="list-row date-row subheadAnchor" key="sunday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Sunday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
<div class="list-row date-row subheadAnchor" key="monday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Monday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
<div class="list-row date-row subheadAnchor" key="tuesday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Tuesday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
<div class="list-row date-row subheadAnchor" key="wednesday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Wednesday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
<div class="list-row date-row subheadAnchor" key="thursday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Thursday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
<div class="list-row date-row subheadAnchor" key="friday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Friday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
<div class="list-row date-row subheadAnchor" key="saturday">
  <div class="col date">
    <div class="dateWrap">
      <div class="secondaryTitle dow">Saturday</div>
      <div class="text written-out"></div>
    </div>
  </div>
  <div class="appointments-wrapper"></div>
</div>
